<section>
    <form [(ngModel)]="lecturer">
        <h2>Instruktor {{ lecturer.fullName }}</h2>
        <label for="firstName">
            <div>Imię</div>
            <div>{{ lecturer.firstName }}</div>
        </label>
        <label for="lastName">
            <div>Nazwisko</div>
            <div>{{ lecturer.lastName }}</div>
        </label>
        <label for="birthDate">
            <div>Data urodzenia</div>
            <div>{{ lecturer.birthDate | date: 'dd.MM.YYYY' }}</div>
        </label>
        <label for="email">
            <div>Email</div>
            <div>{{ lecturer.email }}</div>
        </label>
        <label for="phoneNumber">
            <div>Numer telefonu</div>
            <div>{{ lecturer.phoneNumber }}</div>
        </label>
    </form>
    <form [(ngModel)]="lecturer.studentsGroups">
        <table>
            <caption>Grupy kursantów</caption>
            <thead>
                <tr><th>Nazwa</th><th>Akcje</th></tr>
            </thead>
            <tbody>
                <tr *ngFor="let studentsGroup of lecturer.studentsGroups"><td>{{ studentsGroup.name }}</td><td><a (click)="removeStudentsGroupFromLecturerAsync(studentsGroup)">&#59213;</a></td></tr>
            </tbody>
        </table>
        <div>
            <select>
                <option *ngFor="let studentsGroups of studentsGroups">{{ studentsGroups.name }}</option>
            </select>
            <input type="submit" value="Przydziel wykładowcę do grupy">
        </div>
    </form>
</section>
