<nav>
    <ul>
        <li [routerLink]="['']">Strona Główna</li>
        <li [routerLink]="['Students']">Kursanci</li>
        <li [routerLink]="['StudentsGroups']">Grupy kursantów</li>
        <li [routerLink]="['Lecturers']">Wykładowcy</li>
        <li [routerLink]="['Instructors']">Instruktorzy</li>
        <li [routerLink]="['Study']">Nauka </li>
        <li [routerLink]="['Calendar']">Kalendarz</li>
        <li [routerLink]="['Payments']">Płatności</li>
        <li [routerLink]="['Ads']">Tablica ogłoszeń</li>
    </ul>
</nav>
