<section>
    <section>
        <p>Dodaj nowego kursanta</p>
    </section>
    <section>
        <form (ngSubmit)="add(student)" [(ngModel)]="student" > 
            <span>
                <label>Imię:</label>
                <input type="text"  placeholder="Jan" [(ngModel)]="student.firstName" name="firstName">
            </span>
            <span>
                <label>Nazwisko:</label>
                <input type="text"  placeholder="Kowalski" [(ngModel)]="student.surname" name="surname">
            </span>
            <span>
                <label>Data urodzenia:</label>
                <input type="date" [(ngModel)]="student.birthDate" name="birthDate">
            </span>
            <input type="submit" value= "Dodaj" />
        </form>
    </section>
        
</section>

