<table>
    <thead>
        <tr>
            <th>Imię </th>
            <th> Nazwisko</th>
            <th>Data urodzenia</th>
            <th>Grupa</th>
            <th>Płatności</th>
            <th>Akcje</th>
         </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
         <td>{{student.firstName}}</td>
            <td>{{student.surname}}</td>
            <td>{{student.birthDate | date:'shortDate'}}</td>
            <td></td>
            <td></td>
            <td><a>&#59151;</a><a>&#59213;</a></td>
         </tr>
    </tbody>
</table>