<section>
    <form [(ngModel)]="student">
        <h2>Student {{ student.fullName }}</h2>
        <label for="firstName">
            <div>Imię</div>
            <div>{{ student.firstName }}</div>
        </label>
        <label for="lastName">
            <div>Nazwisko</div>
            <div>{{ student.lastName }}</div>
        </label>
        <label for="birthDate">
            <div>Data urodzenia</div>
            <div>{{ student.birthDate | date: 'dd.MM.YYYY' }}</div>
        </label>
        <label for="email">
            <div>Email</div>
            <div>{{ student.email }}</div>
        </label>
        <label for="phoneNumber">
            <div>Numer telefonu</div>
            <div>{{ student.phoneNumber }}</div>
        </label>
    </form>
    <form (ngSubmit)="updateStudentAsync()">
        <div>
            <div>Grupa</div>
            <select [(ngModel)]="student.studentsGroupId" name="studentsGroup">
                <option *ngFor="let studentsGroup of studentsGroups" [ngValue]="studentsGroup.id">{{ studentsGroup.name }}</option>
            </select>
        </div>
        <div>
            <div>Instruktor</div>
            <select [(ngModel)]="student.instructorId" name="instructorId">
                <option *ngFor="let instructor of instructors" [ngValue]="instructor.id">{{ instructor.fullName }}</option>
            </select>
        </div>
        <input type="submit" value="Zapisz">
        <h2>{{ actionResponse.message }}</h2>
    </form>
</section>