<section>
    <section>
        <p>Dodaj nowego instruktora</p>
    </section>
    <section>
        <form (ngSubmit)="add(instructor)" [(ngModel)]="instructor" > 
            <span>
                <label>Imię:</label>
                <input type="text"  placeholder="Jan" [(ngModel)]="instructor.firstName" name="firstName">
            </span>
            <span>
                <label>Nazwisko:</label>
                <input type="text"  placeholder="Kowalski" [(ngModel)]="instructor.surname" name="surname">
            </span>
            <span>
                <label>Data urodzenia:</label>
                <input type="date" [(ngModel)]="instructor.birthDate" name="birthDate">
            </span>
            <input type="submit" value= "Dodaj" />
        </form>
    </section>
        
</section>

