<section>
    <form [(ngModel)]="instructor">
        <h2>Instruktor {{ instructor.fullName }}</h2>
        <label for="firstName">
            <div>Imię</div>
            <div>{{ instructor.firstName }}</div>
        </label>
        <label for="lastName">
            <div>Nazwisko</div>
            <div>{{ instructor.lastName }}</div>
        </label>
        <label for="birthDate">
            <div>Data urodzenia</div>
            <div>{{ instructor.birthDate | date: 'dd.MM.YYYY' }}</div>
        </label>
        <label for="email">
            <div>Email</div>
            <div>{{ instructor.email }}</div>
        </label>
        <label for="phoneNumber">
            <div>Numer telefonu</div>
            <div>{{ instructor.phoneNumber }}</div>
        </label>
    </form>
    <form (ngSubmit)="updateInstructorAsync()">
        
    </form>
</section>