<section>
    <section>
        <figure  [routerLink]="['Study']">
            <figcaption>
                Nauka
            </figcaption>
        </figure>
        <figure [routerLink]="['Calendar']">
            <figcaption >
                Kalendarz
            </figcaption>
        </figure>
        <figure [routerLink]="['Ad']">
            <figcaption >
                Tablica ogłoszeń
            </figcaption>
        </figure>
    </section>
    <section>
        <div class="container" routerLink="Students">
            Kursanci
        </div>
        <div class="container" routerLink="Lecturers">
            Wykładowcy
        </div>
        <div class="container" routerLink="Instructors">
            Instruktorzy
        </div>
    </section>
</section>
