figure
{
    width: 230px;
    height: 240px;
    padding: 8px;
    border: 2px solid #072b89;
    border-radius: 12px;
    box-shadow: 2px 3px 4px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Candara Light;
    color: #072b89;
    font-size: 18px;
}
img
{
    width: 228px;
    height: 160px;
    border-radius: 12px;
    border: 1px solid #072b89;
}
::placeholder
{
    color: #072b89;
}
input:focus:first-child
{
    text-align: center;
    outline: none;
}
input:focus:nth-child(1)
{
    text-align: center;
    outline: none;
    border-bottom: 2px #072b89 solid

}
input
{
    text-align: center;
    border-style: none;
    color: #072b89;
    font-size: 18px;
}

figure > figcaption > div 
{
    display: flex;
    justify-content: center;
    text-align: center;
}