:host {
    width: 100%;
    min-height: 100vh;
    display: flex;

    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Candara;
    color: #072b89;
    width: 60%;
    height: 60vh;
}
section > section
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#header
{
    font-size: 48px;
}
img
{
    border-radius: 50px;
    width: 30%;

}
span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    font-size: 23px;
    font-weight: 400;
    width: 50%;
}
input
{
    width: 50%;
    height: 10%;
    font-size: 18px;
}

input:focus
{
    outline: none;
    border-color: #072b89;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e2e2e2;
    border: solid 1px #072b89;
    box-shadow: 2px 3px 4px gray;
    width: 40%;
    border-radius: 10px;
    height: 90%;

}