footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75px;
    width: 100%;
    color: white;
    font-family: 'Candara';
    font-size: 15px;
    background-color: #072b89;
}
