<figure>
    <figcaption>
        <caption>Dodaj</caption>
    </figcaption>
    <form [(ngModel)]="payment" (ngSubmit)="addPaymentAsync()">
        <label>
            <div>Data</div>
            <input type="date" [(ngModel)]="payment.date" name="date">
        </label>
        <label>
            <div>Data końcowa</div>
            <input type="date" [(ngModel)]="payment.endDate" name="endDate">
        </label>
        <label>
            <div>Numer</div>
            <input type="number" [(ngModel)]="payment.number" name="number">
        </label>
        <label>
            <div>Suma</div>
            <input type="number" [(ngModel)]="payment.ammount" name="ammount">
        </label>
        <label>
            <div>Jest potwierdzona</div>
            <input type="checkbox" [(ngModel)]="payment.isApproved" name="isApproved">
        </label>
        <label>
            <div>Kursant</div>
            <select [(ngModel)]="payment.studentId" name="student">
                <option *ngFor="let student of students" [ngValue]="student.id">{{ student.fullName }}</option>
            </select>
        </label>
        <input type="submit" value="Dodaj">
    </form>
</figure>
